
.drawerHeader {
  display: flex;
  justify-content: flex-end;
}
.drawerList{
  width: 15rem;
}
.toolbarActions{
  display: flex;
}
.right{
  position: absolute;
  right: 1rem;
}

.profileIcon {
  height: 2rem;
  width: 2rem;
}

.btnMenu:focus {
  outline: none;
}

.btnLogout {
  background-color: #0b567d !important;
  border-color: white !important;
}
.btnLogout:hover {
  background-color: #c82333 !important;
}