  
.obra-card {
  border-radius: 8px;
  border: 1px solid #c3c3c3;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 1rem;
  align-items: center;
  /* align-self: stretch; */
  /* position: relative; */
}
.obra-card > div {
  flex-grow: 1;
  text-align: center;
}
.obra-card__details,
.obra-card__repo_details {
  display: grid;
}
.obra-card__repo_details {
  width: 10rem;
}
.obra-card__details{
  text-align: left !important;
  width: 15%;
}
.obra-card__respo-task{
  width: min-content;
}
.obra-card__respo-task {
  display: flex;
}
.obra-card__address, .obra-card__price{
  margin-top: .2rem;
}

.obra-card__obra-image {
  border: 1px solid #ddd;
  border-radius: .2rem;
  padding: .3rem;
  width: 8rem;
  margin-right: 1rem;
}

.obra-card__profile-image {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: .3rem;
  height: 100%;
  width: 5rem;
  margin-right: 1rem;
}

.obra-card:hover {
  background-color: #efefefa1;
  cursor: pointer;
}


@media (max-width: 750px){
  .obra-card__charts{
    display: none;
  }
}

@media (max-width: 600px){
  .obra-card__respo-task {
    display: none;
  }
}